{{#> base }}
{{> AppSidebar/sidebar dashboards-coures-1=this }}
<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="mb-3 card">
                    <div class="card-header-tab card-header-tab-animation card-header">

                        <div class="card-header-title">
                            <i class="header-icon pe-7s-study"></i>
                            <button type="button" class="btn me-2 mb-2 btn-info" data-bs-toggle="modal" data-bs-target=".bd-example-modal-lg">Thêm khoá học </button>

                        </div>

                    </div>

                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="tabs-eg-77" style="display: flex;">
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    {{> AppFooter/footer }}
</div>


{{/ base }}


<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Thêm mới khoá học</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary">Lưu thay đổi</button>
            </div>
        </div>
    </div>
</div>